/* DECLARACIÓN DE VARIABLES DE CSS */
:root {
  --text-color: aliceblue;
  --bg-color-primary: blueviolet;
  --bg-color-menu: rgb(56, 32, 78);
  --transition: 0, 3s;
}

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-size: 12px; */
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

header,
nav,
main,
footer {
  padding: 1.2rem;
}

h1 {
  font-size: 3rem;
}

header {
  background-color: blueviolet;
  color: aliceblue;
  text-align: center;
}

header > p {
  color: aliceblue;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav > .menu_pr {
  list-style: none;
  display: none;
  justify-content: space-evenly;
}

/* nav > .menu_pr > li {
  margin: 0 0.3 rem;
 } */

nav > .menu_pr a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  transition: var(--transition-time);
}

/* Selector para hover sobre las opciones del menú */
nav > .menu_pr a:hover {
  color: var(--bg-color-menu);
  background-color: var(--text-color);
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  /* padding: 3rem; */
}

main > section.hero {
  display: flex;
  gap: 2rem;
}

main > section.hero > div.content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

main > section.hero > div.content-text {
  display: flex;
  gap: 1rem;
  width: 60%;
}

main > section.hero > div.content-features > .column {
  flex: 1;
}

main > section.hero > div.content-features > .column:last-child {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap */
  gap: 1rem;
}

main > section.hero > div.content-features > .column > .feature {
  position: relative;
}

main > section.hero > div.content-features > .column > .feature > img {
  height: 100%;
  object-fit: cover;
}

main > section.hero > div.content-features > .column > .feature > div {
  position: absolute;
  top: 0%;
}

/* GALLERY */

#gallery {
  padding: 4rem 0;
}

#gallery > h2 {
  margin-bottom: 2rem;
}

#gallery > .gallery-cont {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

/* MEDIA QUERY */

/* Cuando el viewport mida menos de 456px se activa este media query */
@media screen and (max-width: 456px) {
  #gallery > .gallery-cont {
    grid-template-columns: auto;
  }
}
